/* Reset the box model to border-box for all elements and their pseudo-elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Isolate the root element to contain its child elements and prevent them from affecting others */
#root,
#__next {
  isolation: isolate;
}

/* Remove default list styling */
ol,
ul {
  list-style: none;
}

/* Inherit font settings for form elements to match their parent element */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor to pointer for buttons and elements with role="button" */
button,
[role="button"] {
  cursor: pointer;
}

/* Revert cursor to default for disabled elements */
:disabled {
  cursor: default;
}

/* Allow only vertical resizing for textareas */
textarea {
  resize: vertical;
}

/* Prevent text overflow in paragraphs and headings */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Ensure images and videos scale with their container */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Remove default fieldset border */
fieldset {
  border: 0;
}

/* Ensure blockquote elements don't have default margins */
blockquote,
dl,
dd {
  margin: 0;
}

/* Make sure tables don't have default spacing between cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ensure HTML5 hidden attribute behaves as expected */
[hidden] {
  display: none;
}

/* Improve text readability */
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Improve text rendering on macOS */
  -moz-osx-font-smoothing: grayscale; /* Improve text rendering on older Firefox */
  text-rendering: optimizeLegibility; /* Enhance legibility of text */
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #eae7dc;
  color: rgba(255, 255, 255, 0.87);
}

/* Styles for links */
a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Styles for buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Styles for high-level containers */
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Light theme adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
